.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    margin-bottom: 2rem;
}

.row .colourBlock {
    border-radius: 0.2rem;
    padding: 0.1rem;
}
